<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale = 1, minimum-scale = 1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Уютный чат Канадского Лося и ко с блекджеком и ..</title>
        <link rel="stylesheet" href="static/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/lib/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/style.css">

        <script src="static/lib/jquery/dist/jquery.min.js"></script>
        <script src="static/lib/underscore/underscore-min.js"></script>
        <script src="static/lib/backbone/backbone.js"></script>
        <script src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="static/lib/jquery-autosize/jquery.autosize.min.js"></script>
        <script src="static/lib/moment/moment.js"></script>
        <script src="static/lib/sockjs/sockjs.min.js"></script>
        <script src="static/lib/hammerjs/hammer.min.js"></script>
        <script src="static/lib/jquery-hammerjs/jquery.hammer.js"></script>
        <script src="static/lib/twemoji/twemoji.min.js"></script>
        <script src="static/js/main.js"></script>
        <script>
            var preloadMessages = {% raw messages %};
        </script>
    </head>
    <body>
        <div id="backbone-chat" class="wrapper">
            <article class="main">
                <div class="chat-header chat-pad">
                    <span class="chat-name-string">Уютный чат Канадского Лося и ко с блекджеком и ..</span>
                    <div class="fade-cover"></div>
                </div>
                <div id="chat-messages" class="chat-messages chat-pad">
                    <ul class="list-unstyled scrolled infinite-scroll"></ul>
                </div>
                <form name="chat-form form-inline" class="chat-pad" id="chat-form" action="." method="post">
                    <div class="room-input">
                        <div class="room-input-menu btn-group dropup room-focus-effect-border hidden-sm hidden-xs hidden">
                            <button type="button" data-toggle="dropdown" title="Smiles" style="height: 100%" class="btn btn-default dropdown-toggle">
                                <i class="fa fa-smile-o fa-lg"></i>
                            </button>
                            <ul role="menu" class="pull-right dropdown-menu drop-up dropdown-menu-arrow">
                                <li class="help-con">
                                    <a>&#x1F600;</a><a>&#x1F601;</a><a>&#x1F602;</a><a>&#x1F603;</a>
                                    <a>&#x1F604;</a><a>&#x1F605;</a><a>&#x1F606;</a><a>&#x1F607;</a>
                                    <a>&#x1F608;</a><a>&#x1F609;</a><a>&#x1F60A;</a><a>&#x1F60B;</a>
                                    <a>&#x1F60C;</a><a>&#x1F60D;</a><a>&#x1F60E;</a><a>&#x1F60F;</a>
                                    <a>&#x1F610;</a><a>&#x1F611;</a><a>&#x1F612;</a><a>&#x1F613;</a>
                                    <a>&#x1F614;</a><a>&#x1F615;</a><a>&#x1F616;</a><a>&#x1F617;</a>
                                    <a>&#x1F618;</a><a>&#x1F619;</a><a>&#x1F61A;</a><a>&#x1F61B;</a>
                                    <a>&#x1F61C;</a><a>&#x1F61D;</a><a>&#x1F61E;</a><a>&#x1F61F;</a>
                                    <a>&#x1F620;</a><a>&#x1F621;</a><a>&#x1F622;</a><a>&#x1F623;</a>
                                    <a>&#x1F624;</a><a>&#x1F625;</a><a>&#x1F626;</a><a>&#x1F627;</a>
                                    <a>&#x1F628;</a><a>&#x1F629;</a><a>&#x1F62A;</a><a>&#x1F62B;</a>
                                    <a>&#x1F62C;</a><a>&#x1F62D;</a><a>&#x1F62E;</a><a>&#x1F62F;</a>
                                    <a>&#x1F630;</a><a>&#x1F631;</a><a>&#x1F632;</a><a>&#x1F633;</a>
                                    <a>&#x1F634;</a><a>&#x1F635;</a><a>&#x1F636;</a><a>&#x1F637;</a>
                                </li>
                            </ul>
                        </div>
                        <div spellcheck="true" class="room-textarea scrolled form-control"
                             style="overflow-y: auto; word-wrap: break-word; resize: none;
                             min-height: 34px; max-height: 427px; height: auto;" readonly >
                            Вы не можете писать сообщения, т.к. не авторизованы.<br>
                            Пройдите по ссылке <a href="http://rcmp.me">rcmp.me</a>, чтобы авторизоваться или пройти регистрацию.
                        </div>
                    </div>
                </form>
            </article>
            <aside class="aside aside-2 roster">
                <div class="roster-header clearfix">
                    <div style="position: relative" class="roster-title-con roster-marg">
                        <div style="padding: 0; position: relative" class="container-fluid clearfix">
                            <div style="position: relative" class="toolbar-3-opp">
                                <h4 class="roster-title">
                                    <span class="roster-my-name semi-bold" title="">Не авторизован</span>
                                    <div class="fade-to-gray2"></div>
                                </h4>
                            </div>
                        </div>
                        <div style="padding: 0; height: 24px;" class="container-fluid">
                            <div class="row-fluid clearfix">
                                <div style="overflow: hidden; white-space: nowrap;" class="fade-con">
                                    <span class="roster-my-email" title=""></span>
                                    <div class="fade-to-gray2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scrolled">
                    <ul class="list-unstyled roster-part"></ul>
                </div>
            </aside>
        </div>
        {% raw metrics %}
        <!-- Templates -->
        <script type="text/template" id="message-template">
            <strong></strong>
            <span style="width: 100%"> <%= _(text.replace(new RegExp('\r?\n', 'g'), '<br />')).linkify() %></span>
            <small class="chat-msg-time pull-right" style="vertical-align: text-top"><%= moment(time).format('HH:mm') %></small>
        </script>
        <script type="text/template" id="roster-template">
            <span class="roster-name-con" style="color: <%= color %>">
              <i class="fa fa-fw fa-circle-thin" style="color:#ddd"></i>
              <span><%- nickname %></span>
            </span>
        </script>
        <!-- /Templates -->
    </body>
</html>